<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="noreply@gmail.com">
        <network host="smtp-pulse.com" port="2525"
                 userName="sbrakl@gmail.com" password="Z28SSm78mZ"
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>